Step 1: Problem Statement 

Predict Price for used vehicle [car ]

Step 2:data Gathering

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('car.csv')
df

,full_name,selling_price,new_price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.2 Lakh*,NaN,2012,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,Seats5
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,Seats5
2,Hyundai i20 Asta,2.15 Lakh*,NaN,2010,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,Seats5
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,Seats5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,Seats5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19969,Toyota Platinum Etios 1.4 GXD,6.5 Lakh*,NaN,2017,Dealer,"69,480 kms",First Owner,Diesel,Manual,Mileage23.59 kmpl,Engine1364 CC,Max Power67.05 bhp,Seats5
19970,Maruti Ertiga BSIV VXI,9.25 Lakh*,NaN,2019,Dealer,"18,000 kms",First Owner,Petrol,Manual,Mileage17.5 kmpl,Engine1373 CC,Max Power91.1 bhp,Seats7
19971,Skoda Rapid 1.5 TDI Elegance,4.25 Lakh*,NaN,2015,Dealer,"67,000 kms",First Owner,Diesel,Manual,Mileage21.14 kmpl,Engine1498 CC,Max Power103.52 bhp,Seats5
19972,Mahindra XUV500 W6 2WD,12.25 Lakh*,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016,Dealer,"38,00,000 kms",First Owner,Diesel,Manual,Mileage16.0 kmpl,Engine2179 CC,Max Power140 bhp,Seats7
19973,Honda City i-VTEC CVT VX,12 Lakh*,NaN,2019,Dealer,"13,000 kms",First Owner,Petrol,Automatic,Mileage18.0 kmpl,Engine1497 CC,Max Power117.6 bhp,Seats5

### Step 3: EDA

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19974 entries, 0 to 19973
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          19974 non-null  object
 1   selling_price      19974 non-null  object
 2   new_price          9564 non-null   object
 3   year               19974 non-null  int64
 4   seller_type        19974 non-null  object
 5   km_driven          19974 non-null  object
 6   owner_type         19974 non-null  object
 7   fuel_type          19974 non-null  object
 8   transmission_type  19974 non-null  object
 9   mileage            19814 non-null  object
 10  engine             19864 non-null  object
 11  max_power          19637 non-null  object
 12  seats              19887 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.0+ MB

In [6]:
df.isna().sum()

full_name                0
selling_price            0
new_price            10410
year                     0
seller_type              0
km_driven                0
owner_type               0
fuel_type                0
transmission_type        0
mileage                160
engine                 110
max_power              337
seats                   87
dtype: int64

In [7]:
df.isna().mean()*100

full_name             0.000000
selling_price         0.000000
new_price            52.117753
year                  0.000000
seller_type           0.000000
km_driven             0.000000
owner_type            0.000000
fuel_type             0.000000
transmission_type     0.000000
mileage               0.801041
engine                0.550716
max_power             1.687193
seats                 0.435566
dtype: float64

### Step 4: Feature Engineering

In [8]:
df['full_name'].tail(20)

19954                      Tata Zest Quadrajet 1.3 XMS
19955    Toyota Innova Crysta 2016-2020 2.8 ZX AT BSIV
19956                          Maruti Alto 800 CNG LXI
19957                     Renault KWID Climber 1.0 AMT
19958                              Maruti Alto 800 VXI
19959                             Maruti Swift AMT VXI
19960                            Honda BRV i-VTEC V MT
19961                             Honda Amaze E i-DTEC
19962                           Hyundai Santro Xing GL
19963                            Renault KWID RXL BSIV
19964              Mercedes-Benz M-Class ML 350 4Matic
19965                           Maruti Ertiga ZDI Plus
19966                         Hyundai Grand i10 Sportz
19967                            Hyundai i10 Magna 1.1
19968                                Maruti A Star Vxi
19969                    Toyota Platinum Etios 1.4 GXD
19970                           Maruti Ertiga BSIV VXI
19971                     Skoda Rapid 1.5 TDI Elegance
19972                           Mahindra XUV500 W6 2WD
19973                         Honda City i-VTEC CVT VX
Name: full_name, dtype: object

In [9]:
var = df['full_name'][0]
var = var.split(" ")
var[0]

'Maruti'

In [12]:
brand_name = []
model_name = []
for value in df['full_name']:
    var = value.split(" ")
    brand_name.append(var[0])
    model_name.append(var[1])
    
df['brand_name'] = brand_name
df.head()
s1 = pd.Series(model_name)
s1.nunique()

274

In [13]:
df['brand_name'].value_counts() / len(df) *100

Maruti           28.276760
Hyundai          18.248723
Honda             8.916592
Mahindra          6.463402
Toyota            6.032843
Tata              4.881346
Ford              4.545910
Volkswagen        3.814959
Renault           3.184139
Mercedes-Benz     2.508261
BMW               2.418144
Skoda             2.107740
Chevrolet         2.032642
Audi              1.622109
Nissan            1.446881
Datsun            0.851106
Fiat              0.570742
Jaguar            0.400521
Land              0.280364
Jeep              0.225293
Volvo             0.215280
Mitsubishi        0.195254
Kia               0.165215
Porsche           0.130169
Mini              0.110143
MG                0.100130
Isuzu             0.050065
Lexus             0.050065
Force             0.025033
Bentley           0.020026
Ambassador        0.020026
OpelCorsa         0.015020
ISUZU             0.010013
DC                0.010013
Maserati          0.010013
Daewoo            0.010013
Premier           0.010013
Lamborghini       0.005007
Ferrari           0.005007
Mercedes-AMG      0.005007
Rolls-Royce       0.005007
Opel              0.005007
Name: brand_name, dtype: float64

In [14]:
df['brand_name'].nunique()

42

In [15]:
42 * 5

210

In [16]:
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'seller_type',
       'km_driven', 'owner_type', 'fuel_type', 'transmission_type', 'mileage',
       'engine', 'max_power', 'seats', 'brand_name'],
      dtype='object')

### selling_price

In [17]:
df = pd.get_dummies(df, columns = ['brand_name'])
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'seller_type',
       'km_driven', 'owner_type', 'fuel_type', 'transmission_type', 'mileage',
       'engine', 'max_power', 'seats', 'brand_name_Ambassador',
       'brand_name_Audi', 'brand_name_BMW', 'brand_name_Bentley',
       'brand_name_Chevrolet', 'brand_name_DC', 'brand_name_Daewoo',
       'brand_name_Datsun', 'brand_name_Ferrari', 'brand_name_Fiat',
       'brand_name_Force', 'brand_name_Ford', 'brand_name_Honda',
       'brand_name_Hyundai', 'brand_name_ISUZU', 'brand_name_Isuzu',
       'brand_name_Jaguar', 'brand_name_Jeep', 'brand_name_Kia',
       'brand_name_Lamborghini', 'brand_name_Land', 'brand_name_Lexus',
       'brand_name_MG', 'brand_name_Mahindra', 'brand_name_Maruti',
       'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo'],
      dtype='object')

In [18]:
df.head(1).T

                                          0
full_name                   Maruti Alto Std
selling_price                     1.2 Lakh*
new_price                               NaN
year                                   2012
seller_type                      Individual
km_driven                      1,20,000 kms
owner_type                      First Owner
fuel_type                            Petrol
transmission_type                    Manual
mileage                    Mileage19.7 kmpl
engine                         Engine796 CC
max_power                 Max Power46.3 bhp
seats                                Seats5
brand_name_Ambassador                     0
brand_name_Audi                           0
brand_name_BMW                            0
brand_name_Bentley                        0
brand_name_Chevrolet                      0
brand_name_DC                             0
brand_name_Daewoo                         0
brand_name_Datsun                         0
brand_name_Ferrari                        0
brand_name_Fiat                           0
brand_name_Force                          0
brand_name_Ford                           0
brand_name_Honda                          0
brand_name_Hyundai                        0
brand_name_ISUZU                          0
brand_name_Isuzu                          0
brand_name_Jaguar                         0
brand_name_Jeep                           0
brand_name_Kia                            0
brand_name_Lamborghini                    0
brand_name_Land                           0
brand_name_Lexus                          0
brand_name_MG                             0
brand_name_Mahindra                       0
brand_name_Maruti                         1
brand_name_Maserati                       0
brand_name_Mercedes-AMG                   0
brand_name_Mercedes-Benz                  0
brand_name_Mini                           0
brand_name_Mitsubishi                     0
brand_name_Nissan                         0
brand_name_Opel                           0
brand_name_OpelCorsa                      0
brand_name_Porsche                        0
brand_name_Premier                        0
brand_name_Renault                        0
brand_name_Rolls-Royce                    0
brand_name_Skoda                          0
brand_name_Tata                           0
brand_name_Toyota                         0
brand_name_Volkswagen                     0
brand_name_Volvo                          0

In [19]:
df['selling_price'][0:100]

0      1.2 Lakh*
1      5.5 Lakh*
2     2.15 Lakh*
3     2.26 Lakh*
4      5.7 Lakh*
         ...
95    3.75 Lakh*
96    2.25 Lakh*
97       4 Lakh*
98     5.5 Lakh*
99    10.5 Lakh*
Name: selling_price, Length: 100, dtype: object

In [20]:
for item in df['selling_price']:
    # print(item)
    var = item.split(" ")
    # print(var[-1])
    if var[-1] != 'Lakh*':
        print(var[-1])

75,000*
95,000*
71,000*
85,000*
95,000*
55,000*
Cr*
75,000*
62,000*
70,000*
85,000*
95,000*
95,000*
95,000*
78,000*
70,000*
80,000*
65,000*
75,000*
80,000*
80,000*
85,000*
90,000*
95,585*
80,000*
80,000*
Cr*
77,000*
95,000*
82,608*
42,000*
32,500*
95,000*
80,000*
85,000*
85,000*
40,000*
81,000*
50,000*
80,000*
Cr*
80,000*
95,000*
70,000*
34,000*
90,000*
65,000*
50,000*
95,000*
50,000*
85,000*
99,000*
60,000*
40,000*
40,000*
89,000*
95,000*
60,000*
70,000*
Cr*
Cr*
59,000*
95,000*
99,000*
89,000*
90,000*
95,000*
40,000*
90,000*
60,000*
60,000*
80,000*
90,000*
50,000*
Cr*
70,000*
45,000*
90,000*
90,000*
42,000*
35,000*
70,000*
50,000*
65,000*
60,000*
90,000*
80,000*
62,000*
50,000*
60,000*
45,000*
75,000*
70,000*
85,000*
35,000*
95,000*
56,000*
70,000*
60,000*
80,000*
80,000*
95,000*
80,000*
80,000*
95,000*
95,000*
82,000*
70,000*
45,000*
50,000*
85,000*
70,000*
80,000*
45,000*
90,000*
90,000*
75,000*
65,000*
45,000*
85,000*
95,000*
59,000*
53,000*
80,000*
45,000*
50,000*
95,000*
85,000*
50,000*
70,000*
85,000*
70,000*
80,000*
80,000*
87,000*
99,111*
40,000*
90,000*
85,000*
89,000*
85,000*
70,000*
25,000*
50,000*
85,000*
80,000*
35,000*
65,000*
70,000*
40,000*
41,694*
40,000*
45,000*
57,000*
90,000*
90,000*
80,000*
75,000*
55,000*
70,000*
80,000*
99,000*
80,000*
88,000*
80,000*
75,000*
95,000*
78,000*
50,000*
66,000*
60,000*
50,000*
99,000*
30,000*
90,000*
45,000*
94,000*
99,000*
97,000*
65,000*
85,000*
90,000*
75,000*
85,000*
65,000*
98,000*
80,000*
60,000*
46,288*
90,000*
96,000*
90,000*
80,000*
85,000*
Cr*
72,308*
99,000*
74,000*
50,000*
85,000*
95,000*
93,750*
90,000*
Cr*
70,000*
80,000*
88,000*
90,000*
90,000*
90,000*
70,000*
92,000*
78,000*
95,000*
90,000*
Cr*
95,000*
Cr*
Cr*
65,000*
60,000*
90,000*
80,000*
95,000*
82,875*
45,946*
45,000*
75,000*
50,000*
99,000*
35,000*
98,000*
40,000*
50,000*
65,000*
60,000*
80,000*
95,000*
75,000*
58,000*
90,000*
86,250*
89,000*
91,000*
90,000*
69,000*
50,000*
90,000*
80,000*
70,000*
55,000*
80,000*
45,000*
93,000*
95,000*
65,000*
70,000*
72,000*
65,000*
70,000*
60,000*
52,000*
90,000*
60,000*
95,000*
51,000*
80,000*
80,000*
75,000*
68,000*
50,000*
70,000*
65,000*
80,000*
74,999*
80,000*
50,000*
95,000*

In [21]:
df['selling_price'][0][-1]

'*'

In [22]:
# df['selling_price'].replace(r'[ a,*-zA-Z]+','',regex =True,inplace = True)

In [23]:
1.5 
1.5

1.5

In [24]:
var = df['selling_price'][100]
var = var.split(" ")
price = int(float(var[0]) * 100000)
price

450000

In [25]:
value = []
for price in df['selling_price']:
    var = price.split(" ")
    # print(var)
    if var[-1] == 'Lakh*':
        temp =  int(float(var[0])*100000)
        # print(temp)
        value.append(temp)
        
    elif var[-1] == 'Cr*':
        temp =  int(float(var[0])*10000000)
        # print(temp)
        value.append(temp)
        
    else:
        temp = var[0].replace(",","").replace("*","")
        value.append(int(float(temp)))
value[0:10]
s1 = pd.Series(value)
s1
s1.loc[s1<10000]

s1

0         120000
1         550000
2         215000
3         225999
4         570000
          ...
19969     650000
19970     925000
19971     425000
19972    1225000
19973    1200000
Length: 19974, dtype: int64

In [26]:
df['price'] = s1
df.head()

,full_name,selling_price,new_price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,...,brand_name_Porsche,brand_name_Premier,brand_name_Renault,brand_name_Rolls-Royce,brand_name_Skoda,brand_name_Tata,brand_name_Toyota,brand_name_Volkswagen,brand_name_Volvo,price
0,Maruti Alto Std,1.2 Lakh*,NaN,2012,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,...,0,0,0,0,0,0,0,0,0,120000
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,...,0,0,0,0,0,0,0,0,0,550000
2,Hyundai i20 Asta,2.15 Lakh*,NaN,2010,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,...,0,0,0,0,0,0,0,0,0,215000
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,...,0,0,0,0,0,0,0,0,0,225999
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,...,0,0,0,0,0,0,0,0,0,570000

In [27]:
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'seller_type',
       'km_driven', 'owner_type', 'fuel_type', 'transmission_type', 'mileage',
       'engine', 'max_power', 'seats', 'brand_name_Ambassador',
       'brand_name_Audi', 'brand_name_BMW', 'brand_name_Bentley',
       'brand_name_Chevrolet', 'brand_name_DC', 'brand_name_Daewoo',
       'brand_name_Datsun', 'brand_name_Ferrari', 'brand_name_Fiat',
       'brand_name_Force', 'brand_name_Ford', 'brand_name_Honda',
       'brand_name_Hyundai', 'brand_name_ISUZU', 'brand_name_Isuzu',
       'brand_name_Jaguar', 'brand_name_Jeep', 'brand_name_Kia',
       'brand_name_Lamborghini', 'brand_name_Land', 'brand_name_Lexus',
       'brand_name_MG', 'brand_name_Mahindra', 'brand_name_Maruti',
       'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price'],
      dtype='object')

In [28]:
df['year']

0        2012
1        2016
2        2010
3        2012
4        2015
         ...
19969    2017
19970    2019
19971    2015
19972    2016
19973    2019
Name: year, Length: 19974, dtype: int64

In [29]:
df['seller_type'].value_counts()

Dealer              11970
Individual           7814
Trustmark Dealer      190
Name: seller_type, dtype: int64

In [30]:
df = pd.get_dummies(df, columns = ['seller_type'])

In [31]:
df['km_driven']

0         1,20,000 kms
1           20,000 kms
2           60,000 kms
3           37,000 kms
4           30,000 kms
             ...
19969       69,480 kms
19970       18,000 kms
19971       67,000 kms
19972    38,00,000 kms
19973       13,000 kms
Name: km_driven, Length: 19974, dtype: object

In [32]:
var = df['km_driven'][0]
var = var.split(" ")
km = int(var[0].replace(",",""))
km

120000

In [33]:
temp_list = []
for km in df['km_driven']:
    var = km.split(" ")
    var = int(var[0].replace(",",""))
    temp_list.append(var)
len(temp_list)

19974

In [34]:
df['km_driven'] = temp_list

In [35]:
df['owner_type'].value_counts()

First Owner    19974
Name: owner_type, dtype: int64

In [36]:
df['fuel_type'].value_counts()

Diesel      9815
Petrol      9763
CNG          316
LPG           66
Electric      14
Name: fuel_type, dtype: int64

In [37]:
### fuel_type is nomial data hence we are doing one hot encoding 

df = pd.get_dummies(df, columns = ['fuel_type'])

In [38]:
df['transmission_type'].value_counts()

Manual       16025
Automatic     3949
Name: transmission_type, dtype: int64

In [39]:
df = pd.get_dummies(df, columns = ['transmission_type'])

In [40]:
var = df['mileage'][0]

In [67]:
import re 
df['mileage'].replace(r'[ ,*a-zA-Z/]+','',regex =True,inplace = True)
df['mileage'] = df['mileage'].astype(float)

In [70]:
df['mileage'].isna().sum()

0

In [69]:
df['mileage'].fillna(df['mileage'].mean(), inplace=True)

In [44]:
df['engine']
df['engine'].replace(r'[ ,*a-zA-Z]+','',regex =True,inplace = True)
# df['engine'].astype(int)
engine = []
for value in df['engine']:
    if type(value) == str:
        engine.append(int(value))
    else:
        engine.append(value)
        # continue
df['engine']= engine
df['engine']

0         796.0
1        1197.0
2        1197.0
3         998.0
4        1498.0
          ...
19969    1364.0
19970    1373.0
19971    1498.0
19972    2179.0
19973    1497.0
Name: engine, Length: 19974, dtype: float64

In [73]:
df['engine'].isna().sum()

0

In [72]:
df['engine'].fillna(df['engine'].mode()[0], inplace=True)

In [46]:
# df.loc[df['brand_name']=='BMW']
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'km_driven',
       'owner_type', 'mileage', 'engine', 'max_power', 'seats',
       'brand_name_Ambassador', 'brand_name_Audi', 'brand_name_BMW',
       'brand_name_Bentley', 'brand_name_Chevrolet', 'brand_name_DC',
       'brand_name_Daewoo', 'brand_name_Datsun', 'brand_name_Ferrari',
       'brand_name_Fiat', 'brand_name_Force', 'brand_name_Ford',
       'brand_name_Honda', 'brand_name_Hyundai', 'brand_name_ISUZU',
       'brand_name_Isuzu', 'brand_name_Jaguar', 'brand_name_Jeep',
       'brand_name_Kia', 'brand_name_Lamborghini', 'brand_name_Land',
       'brand_name_Lexus', 'brand_name_MG', 'brand_name_Mahindra',
       'brand_name_Maruti', 'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'fuel_type_CNG', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_LPG', 'fuel_type_Petrol',
       'transmission_type_Automatic', 'transmission_type_Manual'],
      dtype='object')

In [47]:
df['engine'].mean()

1477.8059806685462

In [48]:
df['engine'].median()

1248.0

In [49]:
df['engine'].mode()

0    1197.0
Name: engine, dtype: float64

In [50]:
df['engine'].fillna(df['engine'].mode(), inplace=True)

In [51]:
s1 = pd.Series(brand_name)
df['brand_name'] = s1
df.loc[df['brand_name'] == 'BMW']

,full_name,selling_price,new_price,year,km_driven,owner_type,mileage,engine,max_power,seats,...,seller_type_Individual,seller_type_Trustmark Dealer,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_LPG,fuel_type_Petrol,transmission_type_Automatic,transmission_type_Manual,brand_name
140,BMW 5 Series 530d M Sport,26 Lakh*,NaN,2016,63000,First Owner,18.59,2993.0,Max Power261.49 bhp,Seats5,...,0,0,0,1,0,0,0,1,0,BMW
180,BMW 3 Series 320d Luxury Line,20.9 Lakh*,NaN,2016,68000,First Owner,22.69,1995.0,Max Power190 bhp,Seats5,...,0,0,0,1,0,0,0,1,0,BMW
402,BMW Z4 M40i,82.5 Lakh*,New Car (On-Road Price) : Rs.77.06-94.14 Lakh*,2020,2000,First Owner,11.29,2998.0,Max Power335 bhp,Seats2,...,0,0,0,0,0,0,1,1,0,BMW
422,BMW 6 Series GT 630i Luxury Line,55 Lakh*,New Car (On-Road Price) : Rs.78.37 Lakh*,2018,30000,First Owner,14.28,1998.0,Max Power254.7 bhp,Seats4,...,1,0,0,0,0,0,1,1,0,BMW
457,BMW X5 xDrive 30d xLine,79 Lakh*,New Car (On-Road Price) : Rs.83.78-95.29 Lakh*,2019,19000,First Owner,13.38,2993.0,Max Power265 bhp,Seats5,...,1,0,0,1,0,0,0,1,0,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19809,BMW 5 Series 520d Luxury Line,52.95 Lakh*,New Car (On-Road Price) : Rs.76.04-85.24 Lakh*,2019,4000,First Owner,18.12,1995.0,Max Power190 bhp,Seats5,...,0,0,0,1,0,0,0,1,0,BMW
19823,BMW 5 Series 520d Luxury Line,23.25 Lakh*,New Car (On-Road Price) : Rs.78.37-87.92 Lakh*,2014,43000,First Owner,18.12,1995.0,Max Power190 bhp,Seats5,...,0,0,0,1,0,0,0,1,0,BMW
19833,BMW X1 sDrive 20d xLine,29 Lakh*,NaN,2018,39000,First Owner,20.68,1995.0,Max Power188 bhp,Seats5,...,0,0,0,1,0,0,0,1,0,BMW
19865,BMW 3 Series 316i,10 Lakh*,New Car (On-Road Price) : Rs.54.61-63.78 Lakh*,1996,50000,First Owner,11.9,1995.0,Max Power154 bhp,Seats5,...,1,0,0,0,0,0,1,1,0,BMW
19911,BMW 5 Series 520d Luxury Line,39.75 Lakh*,New Car (On-Road Price) : Rs.76.04-85.24 Lakh*,2017,30000,First Owner,22.48,1995.0,Max Power187.74 bhp,Seats5,...,0,0,0,1,0,0,0,1,0,BMW

In [74]:
df['max_power'].value_counts()
df['max_power'].replace(r'[ ,*a-zA-Z]+','',regex =True,inplace = True)
df['max_power'] = df['max_power'].astype(float)

In [77]:
df['max_power'].isna().sum()

0

In [76]:
df['max_power'].fillna(df['max_power'].median(),inplace=True)

In [53]:
df['seats'][0][-1]
df['seats'].replace(r'[ ,a-zA-Z]+','',regex =True,inplace = True)
df['seats'].astype(int)

ValueError: cannot convert float NaN to integer

In [78]:
df['seats']

0        5
1        5
2        5
3        5
4        5
        ..
19969    5
19970    7
19971    5
19972    7
19973    5
Name: seats, Length: 19974, dtype: object

In [79]:
seat = []
for value in df['seats']:
    if type(value) == str:
        seat.append(int(value))
    else:
        seat.append(value)
        # continue
df['seats']= seat
df['seats']

0        5.0
1        5.0
2        5.0
3        5.0
4        5.0
        ...
19969    5.0
19970    7.0
19971    5.0
19972    7.0
19973    5.0
Name: seats, Length: 19974, dtype: float64

In [81]:
df['seats'].isna().sum()

87

In [83]:
df['seats'].fillna(df['seats'].mode()[0], inplace=True)

In [82]:
df['seats'].mode()

0    5.0
Name: seats, dtype: float64

In [ ]:

df['Car_Age'] = 2022 - df['year']

In [59]:
df.head(1).T

                                           0
full_name                    Maruti Alto Std
selling_price                      1.2 Lakh*
new_price                                NaN
year                                    2012
km_driven                             120000
...                                      ...
fuel_type_LPG                              0
fuel_type_Petrol                           1
transmission_type_Automatic                0
transmission_type_Manual                   1
brand_name                            Maruti

[64 rows x 1 columns]

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19974 entries, 0 to 19973
Data columns (total 64 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   full_name                     19974 non-null  object
 1   selling_price                 19974 non-null  object
 2   new_price                     9564 non-null   object
 3   year                          19974 non-null  int64
 4   km_driven                     19974 non-null  int64
 5   owner_type                    19974 non-null  object
 6   mileage                       19974 non-null  float64
 7   engine                        19974 non-null  float64
 8   max_power                     19974 non-null  float64
 9   seats                         19974 non-null  float64
 10  brand_name_Ambassador         19974 non-null  uint8
 11  brand_name_Audi               19974 non-null  uint8
 12  brand_name_BMW                19974 non-null  uint8
 13  brand_name_Bentley            19974 non-null  uint8
 14  brand_name_Chevrolet          19974 non-null  uint8
 15  brand_name_DC                 19974 non-null  uint8
 16  brand_name_Daewoo             19974 non-null  uint8
 17  brand_name_Datsun             19974 non-null  uint8
 18  brand_name_Ferrari            19974 non-null  uint8
 19  brand_name_Fiat               19974 non-null  uint8
 20  brand_name_Force              19974 non-null  uint8
 21  brand_name_Ford               19974 non-null  uint8
 22  brand_name_Honda              19974 non-null  uint8
 23  brand_name_Hyundai            19974 non-null  uint8
 24  brand_name_ISUZU              19974 non-null  uint8
 25  brand_name_Isuzu              19974 non-null  uint8
 26  brand_name_Jaguar             19974 non-null  uint8
 27  brand_name_Jeep               19974 non-null  uint8
 28  brand_name_Kia                19974 non-null  uint8
 29  brand_name_Lamborghini        19974 non-null  uint8
 30  brand_name_Land               19974 non-null  uint8
 31  brand_name_Lexus              19974 non-null  uint8
 32  brand_name_MG                 19974 non-null  uint8
 33  brand_name_Mahindra           19974 non-null  uint8
 34  brand_name_Maruti             19974 non-null  uint8
 35  brand_name_Maserati           19974 non-null  uint8
 36  brand_name_Mercedes-AMG       19974 non-null  uint8
 37  brand_name_Mercedes-Benz      19974 non-null  uint8
 38  brand_name_Mini               19974 non-null  uint8
 39  brand_name_Mitsubishi         19974 non-null  uint8
 40  brand_name_Nissan             19974 non-null  uint8
 41  brand_name_Opel               19974 non-null  uint8
 42  brand_name_OpelCorsa          19974 non-null  uint8
 43  brand_name_Porsche            19974 non-null  uint8
 44  brand_name_Premier            19974 non-null  uint8
 45  brand_name_Renault            19974 non-null  uint8
 46  brand_name_Rolls-Royce        19974 non-null  uint8
 47  brand_name_Skoda              19974 non-null  uint8
 48  brand_name_Tata               19974 non-null  uint8
 49  brand_name_Toyota             19974 non-null  uint8
 50  brand_name_Volkswagen         19974 non-null  uint8
 51  brand_name_Volvo              19974 non-null  uint8
 52  price                         19974 non-null  int64
 53  seller_type_Dealer            19974 non-null  uint8
 54  seller_type_Individual        19974 non-null  uint8
 55  seller_type_Trustmark Dealer  19974 non-null  uint8
 56  fuel_type_CNG                 19974 non-null  uint8
 57  fuel_type_Diesel              19974 non-null  uint8
 58  fuel_type_Electric            19974 non-null  uint8
 59  fuel_type_LPG                 19974 non-null  uint8
 60  fuel_type_Petrol              19974 non-null  uint8
 61  transmission_type_Automatic   19974 non-null  uint8
 62  transmission_type_Manual      19974 non-null  uint8
 63  brand_name                    19974 non-null  object
dtypes: float64(4), int64(3), object(5), uint8(52)
memory usage: 2.8+ MB

### Step 6: Feature Selction

In [85]:
df.columns 
final_df = df.drop(columns = ['selling_price','full_name','brand_name','new_price','owner_type','year'], axis = 1)

In [86]:
final_df.head(1).T

                                     0
km_driven                     120000.0
mileage                           19.7
engine                           796.0
max_power                         46.3
seats                              5.0
brand_name_Ambassador              0.0
brand_name_Audi                    0.0
brand_name_BMW                     0.0
brand_name_Bentley                 0.0
brand_name_Chevrolet               0.0
brand_name_DC                      0.0
brand_name_Daewoo                  0.0
brand_name_Datsun                  0.0
brand_name_Ferrari                 0.0
brand_name_Fiat                    0.0
brand_name_Force                   0.0
brand_name_Ford                    0.0
brand_name_Honda                   0.0
brand_name_Hyundai                 0.0
brand_name_ISUZU                   0.0
brand_name_Isuzu                   0.0
brand_name_Jaguar                  0.0
brand_name_Jeep                    0.0
brand_name_Kia                     0.0
brand_name_Lamborghini             0.0
brand_name_Land                    0.0
brand_name_Lexus                   0.0
brand_name_MG                      0.0
brand_name_Mahindra                0.0
brand_name_Maruti                  1.0
brand_name_Maserati                0.0
brand_name_Mercedes-AMG            0.0
brand_name_Mercedes-Benz           0.0
brand_name_Mini                    0.0
brand_name_Mitsubishi              0.0
brand_name_Nissan                  0.0
brand_name_Opel                    0.0
brand_name_OpelCorsa               0.0
brand_name_Porsche                 0.0
brand_name_Premier                 0.0
brand_name_Renault                 0.0
brand_name_Rolls-Royce             0.0
brand_name_Skoda                   0.0
brand_name_Tata                    0.0
brand_name_Toyota                  0.0
brand_name_Volkswagen              0.0
brand_name_Volvo                   0.0
price                         120000.0
seller_type_Dealer                 0.0
seller_type_Individual             1.0
seller_type_Trustmark Dealer       0.0
fuel_type_CNG                      0.0
fuel_type_Diesel                   0.0
fuel_type_Electric                 0.0
fuel_type_LPG                      0.0
fuel_type_Petrol                   1.0
transmission_type_Automatic        0.0
transmission_type_Manual           1.0

In [57]:
final_df.columns

Index(['selling_price', 'km_driven', 'mileage', 'engine', 'max_power',
       'brand_name_Ambassador', 'brand_name_Audi', 'brand_name_BMW',
       'brand_name_Bentley', 'brand_name_Chevrolet', 'brand_name_DC',
       'brand_name_Daewoo', 'brand_name_Datsun', 'brand_name_Ferrari',
       'brand_name_Fiat', 'brand_name_Force', 'brand_name_Ford',
       'brand_name_Honda', 'brand_name_Hyundai', 'brand_name_ISUZU',
       'brand_name_Isuzu', 'brand_name_Jaguar', 'brand_name_Jeep',
       'brand_name_Kia', 'brand_name_Lamborghini', 'brand_name_Land',
       'brand_name_Lexus', 'brand_name_MG', 'brand_name_Mahindra',
       'brand_name_Maruti', 'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'fuel_type_CNG', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_LPG', 'fuel_type_Petrol',
       'transmission_type_Automatic', 'transmission_type_Manual'],
      dtype='object')

Categorical 

    1. Ordinal --- >> label encoding(replace, labelEncoder) S, M, L == 
    2. Nominal --- >> one hot encoding (pd.get_dummies) e.g BMW, Audi, Mercedes

pd.get_dummies(drop_first=True)


value    BMW, Audi, Mercedes 

BMW       1   0       0
Audi      0   1       0
Mercedes  0   0       1


DROP_First = true

value    BMW, Mercedes 

BMW       1        0
Audi      0        0
Mercedes  0        1
Mercedes  0        1
BMW       1        0
Audi      0        0

Model Training 
Model Evaluation  >> final model 

User test Function

In [87]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19974 entries, 0 to 19973
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   km_driven                     19974 non-null  int64
 1   mileage                       19974 non-null  float64
 2   engine                        19974 non-null  float64
 3   max_power                     19974 non-null  float64
 4   seats                         19974 non-null  float64
 5   brand_name_Ambassador         19974 non-null  uint8
 6   brand_name_Audi               19974 non-null  uint8
 7   brand_name_BMW                19974 non-null  uint8
 8   brand_name_Bentley            19974 non-null  uint8
 9   brand_name_Chevrolet          19974 non-null  uint8
 10  brand_name_DC                 19974 non-null  uint8
 11  brand_name_Daewoo             19974 non-null  uint8
 12  brand_name_Datsun             19974 non-null  uint8
 13  brand_name_Ferrari            19974 non-null  uint8
 14  brand_name_Fiat               19974 non-null  uint8
 15  brand_name_Force              19974 non-null  uint8
 16  brand_name_Ford               19974 non-null  uint8
 17  brand_name_Honda              19974 non-null  uint8
 18  brand_name_Hyundai            19974 non-null  uint8
 19  brand_name_ISUZU              19974 non-null  uint8
 20  brand_name_Isuzu              19974 non-null  uint8
 21  brand_name_Jaguar             19974 non-null  uint8
 22  brand_name_Jeep               19974 non-null  uint8
 23  brand_name_Kia                19974 non-null  uint8
 24  brand_name_Lamborghini        19974 non-null  uint8
 25  brand_name_Land               19974 non-null  uint8
 26  brand_name_Lexus              19974 non-null  uint8
 27  brand_name_MG                 19974 non-null  uint8
 28  brand_name_Mahindra           19974 non-null  uint8
 29  brand_name_Maruti             19974 non-null  uint8
 30  brand_name_Maserati           19974 non-null  uint8
 31  brand_name_Mercedes-AMG       19974 non-null  uint8
 32  brand_name_Mercedes-Benz      19974 non-null  uint8
 33  brand_name_Mini               19974 non-null  uint8
 34  brand_name_Mitsubishi         19974 non-null  uint8
 35  brand_name_Nissan             19974 non-null  uint8
 36  brand_name_Opel               19974 non-null  uint8
 37  brand_name_OpelCorsa          19974 non-null  uint8
 38  brand_name_Porsche            19974 non-null  uint8
 39  brand_name_Premier            19974 non-null  uint8
 40  brand_name_Renault            19974 non-null  uint8
 41  brand_name_Rolls-Royce        19974 non-null  uint8
 42  brand_name_Skoda              19974 non-null  uint8
 43  brand_name_Tata               19974 non-null  uint8
 44  brand_name_Toyota             19974 non-null  uint8
 45  brand_name_Volkswagen         19974 non-null  uint8
 46  brand_name_Volvo              19974 non-null  uint8
 47  price                         19974 non-null  int64
 48  seller_type_Dealer            19974 non-null  uint8
 49  seller_type_Individual        19974 non-null  uint8
 50  seller_type_Trustmark Dealer  19974 non-null  uint8
 51  fuel_type_CNG                 19974 non-null  uint8
 52  fuel_type_Diesel              19974 non-null  uint8
 53  fuel_type_Electric            19974 non-null  uint8
 54  fuel_type_LPG                 19974 non-null  uint8
 55  fuel_type_Petrol              19974 non-null  uint8
 56  transmission_type_Automatic   19974 non-null  uint8
 57  transmission_type_Manual      19974 non-null  uint8
dtypes: float64(4), int64(2), uint8(52)
memory usage: 1.9 MB

In [88]:
final_df.isna().sum()

km_driven                       0
mileage                         0
engine                          0
max_power                       0
seats                           0
brand_name_Ambassador           0
brand_name_Audi                 0
brand_name_BMW                  0
brand_name_Bentley              0
brand_name_Chevrolet            0
brand_name_DC                   0
brand_name_Daewoo               0
brand_name_Datsun               0
brand_name_Ferrari              0
brand_name_Fiat                 0
brand_name_Force                0
brand_name_Ford                 0
brand_name_Honda                0
brand_name_Hyundai              0
brand_name_ISUZU                0
brand_name_Isuzu                0
brand_name_Jaguar               0
brand_name_Jeep                 0
brand_name_Kia                  0
brand_name_Lamborghini          0
brand_name_Land                 0
brand_name_Lexus                0
brand_name_MG                   0
brand_name_Mahindra             0
brand_name_Maruti               0
brand_name_Maserati             0
brand_name_Mercedes-AMG         0
brand_name_Mercedes-Benz        0
brand_name_Mini                 0
brand_name_Mitsubishi           0
brand_name_Nissan               0
brand_name_Opel                 0
brand_name_OpelCorsa            0
brand_name_Porsche              0
brand_name_Premier              0
brand_name_Renault              0
brand_name_Rolls-Royce          0
brand_name_Skoda                0
brand_name_Tata                 0
brand_name_Toyota               0
brand_name_Volkswagen           0
brand_name_Volvo                0
price                           0
seller_type_Dealer              0
seller_type_Individual          0
seller_type_Trustmark Dealer    0
fuel_type_CNG                   0
fuel_type_Diesel                0
fuel_type_Electric              0
fuel_type_LPG                   0
fuel_type_Petrol                0
transmission_type_Automatic     0
transmission_type_Manual        0
dtype: int64

### Step 6: Model Training

In [91]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn. metrics import mean_absolute_error, mean_squared_error, r2_score


x = final_df.drop('price',axis = 1)
y = final_df['price']

x_train, x_test, y_train, y_test =train_test_split(x,y, random_state = 25, test_size = 0.20)

In [92]:
### Model Tranining 

lin_reg_model = LinearRegression()
lin_reg_model.fit(x_train,y_train)

LinearRegression()

In [93]:
### Model Evaluation 

### Testing  Data 
y_pred = lin_reg_model.predict(x_test)

def model_eval(actual,pred):
    mse = mean_squared_error(actual,pred)
    print(f"MSE = {mse}")
    print(f"RMSE = {np.sqrt(mse)}")
    
    mae = mean_absolute_error(actual, pred)
    print(f"MAE = {mae}")
    
    r2 = r2_score(actual,pred)
    print(f"R - Sequared Value = {r2}")
    
model_eval(y_test, y_pred)

MSE = 220321571040.52103
RMSE = 469384.24668976804
MAE = 237378.54586475823
R - Sequared Value = 0.6954664376098187

In [94]:
### Training data 

y_pred = lin_reg_model.predict(x_train)
model_eval(y_train,y_pred)

MSE = 225162050714.6808
RMSE = 474512.4347313575
MAE = 231107.40940554
R - Sequared Value = 0.7366835534678873

In [ ]:
Bias - Variance 
high  -  Low >> underfitting

In [95]:
x_train.shape

(15979, 57)

In [ ]:
### KNN

In [ ]:
### Decision Tree

In [103]:
from sklearn.tree import DecisionTreeRegressor
x_train, x_test, y_train, y_test =train_test_split(x,y, random_state = 25, test_size = 0.30)
dt_model = DecisionTreeRegressor(random_state=10)
dt_model.fit(x_train,y_train)

DecisionTreeRegressor(random_state=10)

In [104]:
print(f"Testing  Data Metrics")
y_pred = dt_model.predict(x_test)
model_eval(y_test, y_pred)
print("*"*30)
print(f"Training Data Metrics")
y_pred = dt_model.predict(x_train)
model_eval(y_train,y_pred)

Testing  Data Metrics
MSE = 174709939194.37408
RMSE = 417983.18051612325
MAE = 172158.6225545002
R - Sequared Value = 0.7708644796320698
******************************
Training Data Metrics
MSE = 1571597016.9114728
RMSE = 39643.372925515214
MAE = 12943.109689546718
R - Sequared Value = 0.9981666064867618

Bias - Variance 
low  -  high >> underfitting

In [107]:
dt_hyp_model = DecisionTreeRegressor(random_state=10)
hyp = {
    'criterion': ['squared_error','absolute_error'],
    'max_depth': np.arange(5,10),
    'min_samples_split': np.arange(2,5),
    'min_samples_leaf':np.arange(1,5)
}

from sklearn.model_selection import RandomizedSearchCV

rscv = RandomizedSearchCV(dt_hyp_model, hyp, cv = 5)
rscv.fit(x_train,y_train)

RandomizedSearchCV(cv=5, estimator=DecisionTreeRegressor(random_state=10),
                   param_distributions={'criterion': ['squared_error',
                                                      'absolute_error'],
                                        'max_depth': array([5, 6, 7, 8, 9]),
                                        'min_samples_leaf': array([1, 2, 3, 4]),
                                        'min_samples_split': array([2, 3, 4])})

In [108]:
rscv.best_estimator_

DecisionTreeRegressor(criterion='absolute_error', max_depth=8,
                      min_samples_leaf=2, random_state=10)

In [109]:
dt_hyp_model = rscv.best_estimator_
dt_hyp_model.fit(x_train,y_train)


print(f"Testing  Data Metrics")
y_pred = dt_hyp_model.predict(x_test)
model_eval(y_test, y_pred)
print("*"*30)
print(f"Training Data Metrics")
y_pred = dt_hyp_model.predict(x_train)
model_eval(y_train,y_pred)

Testing  Data Metrics
MSE = 164378217428.85156
RMSE = 405435.83638949774
MAE = 179040.33722676456
R - Sequared Value = 0.784414735867955
******************************
Training Data Metrics
MSE = 120447067991.59023
RMSE = 347054.8486789807
MAE = 154379.16493813033
R - Sequared Value = 0.8594888697496301

In [ ]:
Bias - Variance 
high  - low varince

In [112]:
### Random Forest 

from sklearn.ensemble import RandomForestRegressor
rm_model = RandomForestRegressor(random_state = 5)
rm_model.fit(x_train,y_train)

def model_test(model): 
    print(f"Testing  Data Metrics")
    y_pred = model.predict(x_test)
    model_eval(y_test, y_pred)
    print("*"*30)
    print(f"Training Data Metrics")
    y_pred = model.predict(x_train)
    model_eval(y_train,y_pred)

Testing  Data Metrics
MSE = 132719803557.63716
RMSE = 364307.2927593368
MAE = 145118.55036257204
R - Sequared Value = 0.8259353681219304
******************************
Training Data Metrics
MSE = 22546990484.67035
RMSE = 150156.55325249827
MAE = 58313.70332578155
R - Sequared Value = 0.9736971337735961

In [ ]:
Bias - Variance
low - high

In [113]:
def mdoel_test(model): 
    print(f"Testing  Data Metrics")
    y_pred = model.predict(x_test)
    model_eval(y_test, y_pred)
    print("*"*30)
    print(f"Training Data Metrics")
    y_pred = model.predict(x_train)
    model_eval(y_train,y_pred)

In [116]:
### Hyper 

rm_hyp_model = RandomForestRegressor(random_state=5)

hyp= {
    'n_estimators': np.arange(100,500,50),
    'criterion':['squared_error','absolute_error'],
    'max_depth':np.arange(5,8),
    'min_samples_split':np.arange(5,10),
    'min_samples_leaf':np.arange(2,5),
    'bootstrap':[True,False], 
    'max_features':['sqrt','log2']
    
}
from sklearn.model_selection import RandomizedSearchCV
rscv = RandomizedSearchCV(rm_hyp_model,hyp, cv= 5)
rscv.fit(x_train,y_train)

KeyboardInterrupt:

In [ ]:
                     Test  Train  Time 
Linear Regression >>  69    73  
Desion Tree       >>  77    99
hyp_Decision_tree >>  78    85
Random Forest     >>  82    97
Hyp_rm            >>  ??    ??
adaboost          >>  ??    ?? 
KNN               >>  ??    ??

Concolusion >> hyp_Decision_tree

### USER TEST FUNCTION

In [119]:
user_input = x.head(1)
pred = dt_hyp_model.predict(user_input)
pred

array([134500.])

In [120]:
y.head(1)

0    120000
Name: price, dtype: int64

In [121]:
134500- 120000

14500

In [123]:
x.head(1).T

                                     0
km_driven                     120000.0
mileage                           19.7
engine                           796.0
max_power                         46.3
seats                              5.0
brand_name_Ambassador              0.0
brand_name_Audi                    0.0
brand_name_BMW                     0.0
brand_name_Bentley                 0.0
brand_name_Chevrolet               0.0
brand_name_DC                      0.0
brand_name_Daewoo                  0.0
brand_name_Datsun                  0.0
brand_name_Ferrari                 0.0
brand_name_Fiat                    0.0
brand_name_Force                   0.0
brand_name_Ford                    0.0
brand_name_Honda                   0.0
brand_name_Hyundai                 0.0
brand_name_ISUZU                   0.0
brand_name_Isuzu                   0.0
brand_name_Jaguar                  0.0
brand_name_Jeep                    0.0
brand_name_Kia                     0.0
brand_name_Lamborghini             0.0
brand_name_Land                    0.0
brand_name_Lexus                   0.0
brand_name_MG                      0.0
brand_name_Mahindra                0.0
brand_name_Maruti                  1.0
brand_name_Maserati                0.0
brand_name_Mercedes-AMG            0.0
brand_name_Mercedes-Benz           0.0
brand_name_Mini                    0.0
brand_name_Mitsubishi              0.0
brand_name_Nissan                  0.0
brand_name_Opel                    0.0
brand_name_OpelCorsa               0.0
brand_name_Porsche                 0.0
brand_name_Premier                 0.0
brand_name_Renault                 0.0
brand_name_Rolls-Royce             0.0
brand_name_Skoda                   0.0
brand_name_Tata                    0.0
brand_name_Toyota                  0.0
brand_name_Volkswagen              0.0
brand_name_Volvo                   0.0
seller_type_Dealer                 0.0
seller_type_Individual             1.0
seller_type_Trustmark Dealer       0.0
fuel_type_CNG                      0.0
fuel_type_Diesel                   0.0
fuel_type_Electric                 0.0
fuel_type_LPG                      0.0
fuel_type_Petrol                   1.0
transmission_type_Automatic        0.0
transmission_type_Manual           1.0

km_driven = 120000.0
mileage = 19.7
engine = 796.0
max_power =46.3
seats = 5.0
brand_name = 'Maruti'
model = 'Alto'
seller = 'Dealer'
fuel = 'Petrol'
transmission = 'Manual' 
year= 2015

predicted_selling_price = ???

In [154]:
# u_input = {
# 'km_driven' : 120000.0,
# 'mileage' : 19.7,
# 'engine' : 796.0,
# 'max_power' :46.3,
# 'seats' : 5.0,
# 'brand_name' : 'Maruti',
# 'model' : 'Alto',
# 'seller' : 'Dealer',
# 'fuel' : 'Petrol',
# 'transmission' : 'Manual', 
# 'year': 2015
# }


km_driven = 120000.0
mileage = 19.7
engine = 796.0
max_power =46.3
seats = 5.0
brand_name = 'Maruti'
model = 'Alto'
seller = 'Dealer'
fuel = 'Petrol'
transmission = 'Manual' 
year= 2015

array = np.zeros(x.shape[1])
array.shape
array

array[0] = km_driven
array[1] = mileage
array[2] = engine
array[3] = max_power
array[4] = seats

columns_list = x.columns
brand_value = 'brand_name_' + brand_name
brand_index = np.where(columns_list==brand_value)[0][0]
array[brand_index] = 1

seller_value = 'seller_type_' + seller
seller_type_index = np.where(columns_list==seller_value)[0][0]
array[seller_type_index]=1

fuel_value = 'fuel_type_' + fuel 
fuel_type_index = np.where(columns_list==fuel_value)[0][0]
array[fuel_type_index] = 1

transmission_value = 'transmission_type_' + transmission 
transmission_index = np.where(columns_list==transmission_value)[0][0]
array[transmission_index] = 1

array


pred = dt_hyp_model.predict([array])
pred

C:\Users\Shridhar\.conda\envs\car\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([134500.])

In [152]:
columns_list = x.columns
columns_list

var = 'Manual'
value = 'transmission_type_' + var
value
# seller_type_Dealer
transmission_index = np.where(columns_list==value)[0][0]
transmission_index

56

In [158]:
columns_list = x.columns
columns_list = list(columns_list)
columns_list
col = {'columns':columns_list}
col

{'columns': ['km_driven',
  'mileage',
  'engine',
  'max_power',
  'seats',
  'brand_name_Ambassador',
  'brand_name_Audi',
  'brand_name_BMW',
  'brand_name_Bentley',
  'brand_name_Chevrolet',
  'brand_name_DC',
  'brand_name_Daewoo',
  'brand_name_Datsun',
  'brand_name_Ferrari',
  'brand_name_Fiat',
  'brand_name_Force',
  'brand_name_Ford',
  'brand_name_Honda',
  'brand_name_Hyundai',
  'brand_name_ISUZU',
  'brand_name_Isuzu',
  'brand_name_Jaguar',
  'brand_name_Jeep',
  'brand_name_Kia',
  'brand_name_Lamborghini',
  'brand_name_Land',
  'brand_name_Lexus',
  'brand_name_MG',
  'brand_name_Mahindra',
  'brand_name_Maruti',
  'brand_name_Maserati',
  'brand_name_Mercedes-AMG',
  'brand_name_Mercedes-Benz',
  'brand_name_Mini',
  'brand_name_Mitsubishi',
  'brand_name_Nissan',
  'brand_name_Opel',
  'brand_name_OpelCorsa',
  'brand_name_Porsche',
  'brand_name_Premier',
  'brand_name_Renault',
  'brand_name_Rolls-Royce',
  'brand_name_Skoda',
  'brand_name_Tata',
  'brand_name_Toyota',
  'brand_name_Volkswagen',
  'brand_name_Volvo',
  'seller_type_Dealer',
  'seller_type_Individual',
  'seller_type_Trustmark Dealer',
  'fuel_type_CNG',
  'fuel_type_Diesel',
  'fuel_type_Electric',
  'fuel_type_LPG',
  'fuel_type_Petrol',
  'transmission_type_Automatic',
  'transmission_type_Manual']}

In [132]:
x.shape()

(19974, 57)

In [159]:
import json 
with open('columns_list.json','w') as file:
    json.dump(col,file)

In [160]:
import pickle 
with open('model.pkl','wb') as file:
    pickle.dump(dt_hyp_model,file)